// Value Common weight name
// 100   Thin (Hairline)
// 200   Extra Light (Ultra Light)
// 300   Light
// 400   Normal
// 500   Medium
// 600   Semi Bold (Demi Bold)
// 700   Bold
// 800   Extra Bold (Ultra Bold)
// 900   Black (Heavy)

// @font-face 
//   font-family: 'FontName'
//   src: url('/fonts/FontName/regular.woff') format('woff'), url('/fonts/FontName/regular.ttf') format('truetype')
//   font-weight: normal
//   font-style: normal

@font-face 
  font-family: 'Asap'
  src: url('/fonts/asap/regular.woff') format('woff'), url('/fonts/asap/regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'Asap'
  src: url('/fonts/asap/italic.woff') format('woff'), url('/fonts/asap/italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face 
  font-family: 'Asap'
  src: url('/fonts/asap/bold.woff') format('woff'), url('/fonts/asap/bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'Asap'
  src: url('/fonts/asap/medium.woff') format('woff'), url('/fonts/asap/medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face 
  font-family: 'Lato'
  src: url('/fonts/lato/regular.woff') format('woff'), url('/fonts/lato/regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'Lato'
  src: url('/fonts/lato/light.woff') format('woff'), url('/fonts/lato/light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face 
  font-family: 'Montserrat'
  src: url('/fonts/montserrat/regular.woff') format('woff'), url('/fonts/montserrat/regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal