@font-face {
  font-family: 'Asap';
  src: url("/fonts/asap/regular.woff") format("woff"), url("/fonts/asap/regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Asap';
  src: url("/fonts/asap/italic.woff") format("woff"), url("/fonts/asap/italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Asap';
  src: url("/fonts/asap/bold.woff") format("woff"), url("/fonts/asap/bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Asap';
  src: url("/fonts/asap/medium.woff") format("woff"), url("/fonts/asap/medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/regular.woff") format("woff"), url("/fonts/lato/regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/light.woff") format("woff"), url("/fonts/lato/light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/montserrat/regular.woff") format("woff"), url("/fonts/montserrat/regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }

input {
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-size: 16px;
  line-height: 1;
  font-family: Asap;
  color: #4d4d4d; }

img {
  max-height: 100%;
  max-width: 100%; }

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 Icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon::before {
    display: inline-block; }
  .icon_t_close::before {
    content: "\e904"; }

.container {
  max-width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1260px) {
    .container {
      padding: 0 40px; } }

.section {
  position: relative; }
  .section_type_1 {
    padding-top: 30px; }
  .section_type_2 {
    padding: 110px 0 120px; }
  .section_type_3 {
    padding: 120px 0 75px; }
  .section_type_4 {
    padding: 120px 0 117px; }
  .section_type_5 {
    padding: 125px 0 120px; }
  .section_type_6 {
    padding: 127px 0 125px; }
  .section_type_7 {
    padding: 30px 0 38px; }
  .section_type_8 {
    padding: 145px 0 0;
    margin-top: 154px;
    background-image: url(/img/contactBg.png);
    background-size: cover;
    background-repeat: no-repeat; }
  .section_color_1 {
    background-color: #dedede; }
  .section_color_2 {
    background-color: #f6f6f6; }
  .section__responsive {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .section__image {
    width: 100%;
    max-height: 100%; }
  .section__column {
    width: 570px; }
  .section__content {
    padding-top: 15px;
    padding-bottom: 5px; }
  .section__info {
    margin-top: 162px; }
  .section__info2 {
    margin-top: 67px; }
  .section__buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .section__btnDown {
    margin-top: 168px; }
  .section__title {
    margin-bottom: 15px; }
  .section__graph {
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%; }
  .section__bottomBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px; }
  .section__slider {
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px; }
  .section__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .section__relative {
    position: relative;
    z-index: 5; }
  .section__form {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 57px; }
  .section__footer {
    border-top: 1px solid #fff;
    padding: 26px 0 30px; }
  .section__copyright {
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    line-height: 27px;
    width: 20%;
    letter-spacing: 0.05em; }
  .section__col {
    width: 33.33%; }
  .section__btnTop {
    position: absolute;
    bottom: 193px;
    right: -65px;
    z-index: 10; }

.menu {
  color: #4d4d4d;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto; }
    .menu__item + .menu__item {
      margin-left: 37px; }
    .menu__item::after {
      content: '';
      display: block;
      margin: 7px auto 0;
      height: 2px;
      width: 100%;
      background-color: #878787;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
    .menu__item:hover::after, .menu__item_active::after {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
    .menu__item_active {
      text-transform: none; }

.logo {
  font-family: Lato;
  text-transform: uppercase;
  text-align: center;
  color: #000; }
  .logo__img {
    height: 24px;
    width: 24px;
    margin: 0 auto 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .logo__title {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.1em; }
  .logo__subtitle {
    font-size: 4px;
    letter-spacing: 0.2em; }
  .logo:hover .logo__img {
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1); }

.title {
  font-size: 46px;
  font-weight: bold;
  line-height: 49px;
  color: rgba(77, 77, 77, 0.8);
  letter-spacing: 0.13em;
  text-align: center; }
  .title_size_big {
    letter-spacing: 0.02em;
    font-size: 90px;
    letter-spacing: 0;
    line-height: 67px;
    margin-left: -5px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #4d4d4d; }
  .title_size_small {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 1;
    color: rgba(77, 77, 77, 0.541); }
  .title_line::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: rgba(77, 77, 77, 0.8);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; }
  .title_align_left {
    text-align: left; }
    .title_align_left::before {
      margin-left: 0; }
  .title_color_1 {
    color: #f2f2f2; }
    .title_color_1::before {
      background-color: #c1c1c1; }

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: 500 16px/1 Asap;
  color: #4d4d4d;
  height: 50px;
  min-width: 160px;
  padding: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  letter-spacing: 0.06em; }
  .btn + .btn {
    margin-left: 20px; }
  .btn_type_1 {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 15px rgba(77, 77, 77, 0.2);
            box-shadow: 0px 5px 15px rgba(77, 77, 77, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .btn_type_1:hover {
      -webkit-box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.2);
              box-shadow: 0px 10px 25px rgba(77, 77, 77, 0.2); }
  .btn_type_2 {
    border: 1px solid;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .btn_type_2:hover {
      background-color: rgba(77, 77, 77, 0.1); }
  .btn_type_3 > * {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .btn_type_3:hover > * {
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px); }
  .btn_type_4 > * {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .btn_type_4:hover > * {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }
  .btn_size_small {
    height: 40px;
    width: 45px;
    min-width: auto; }
  .btn_size_middle {
    padding: 0 45px; }
  .btn_size_md {
    min-width: 123px;
    padding: 0 20px; }
  .btn_font_1 {
    font-weight: 600; }

.text {
  line-height: 26px; }
  .text_indent_right {
    padding-right: 60px; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .grid_type_1 {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 24px; }
  .grid__item {
    width: 32%;
    padding: 40px;
    text-align: center; }
    .grid__item_type_1 {
      padding: 15px;
      width: 33.33%; }
    .grid__item_type_2 {
      width: 25%;
      padding: 20px;
      color: #212121; }
  .grid__content {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .grid__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px; }
    .grid__title_type_1 {
      font-size: 30px;
      line-height: 32px;
      margin-top: 25px; }
  .grid__img {
    height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .grid__img_type_1 {
      height: 100px;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .grid__bgImage {
    display: block;
    width: 100%;
    height: 318px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s; }
    .grid__bgImage:hover {
      -webkit-box-shadow: 0 0 40px 10px #dedede;
              box-shadow: 0 0 40px 10px #dedede; }
  .grid__text {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 32px;
    margin-top: 3px; }

.graph {
  padding-left: 45px; }
  .graph__figure {
    background-color: #fafafa;
    width: 100%;
    height: 370px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .graph__image {
    background-image: url(/img/graph.png);
    background-repeat: no-repeat;
    background-position: -33px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-box-shadow: 0 10px 30px -10px rgba(224, 224, 224, 0.4);
            box-shadow: 0 10px 30px -10px rgba(224, 224, 224, 0.4); }
  .graph__line {
    height: 1px;
    width: 100%;
    color: #4d4d4d;
    background-color: #e0e0e0;
    position: relative; }
    .graph__lineText {
      position: absolute;
      left: -45px;
      top: -7px; }
    .graph__line_shadow {
      -webkit-box-shadow: 0 0 10px #e0e0e0;
              box-shadow: 0 0 10px #e0e0e0; }
  .graph__x {
    padding-top: 15px; }
  .graph__logo {
    height: 28px;
    width: 28px; }
    .graph__logo_pos_1 {
      margin-left: 9%; }
    .graph__logo_pos_2 {
      margin-left: 20%; }
    .graph__logo_pos_3 {
      margin-left: 21%; }
    .graph__logo_pos_4 {
      margin-left: 18%; }

.slider {
  border: 1px solid #000;
  padding: 80px 70px 100px 120px; }
  .slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.01em; }
  .slider__image {
    height: 160px;
    width: 160px;
    margin-right: 30px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .slider__title {
    font-size: 30px; }
  .slider__subtitle {
    font-size: 12px;
    font-style: italic;
    margin-top: 3px; }
  .slider__text {
    line-height: 26px;
    margin-top: 13px;
    color: rgba(33, 33, 33, 0.4); }
  .slider:not(.owl-carousel) .slider__item:nth-of-type(1) ~ .slider__item {
    display: none; }
  .slider .owl-dots {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .slider .owl-dot {
    height: 13px;
    width: 13px;
    border: 1px solid #000 !important;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    margin: 0 2px; }
    .slider .owl-dot.active {
      background-color: #000; }

.form__row {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form__col {
  width: 48%; }

.form__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.input {
  width: 100%;
  font: 500 16px/1 Asap;
  height: 57px;
  padding: 10px;
  color: #212121;
  letter-spacing: 0.05em; }
  .input_type_textarea {
    height: 207px;
    padding-top: 20px;
    padding-bottom: 20px;
    resize: none; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .social__item {
    height: 27px;
    width: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s; }
    .social__item + .social__item {
      margin-left: 9px; }
    .social__item:hover {
      color: #fff; }
    .social__item_type_fb:hover {
      background-color: #3b5999; }
    .social__item_type_tw:hover {
      background-color: #55acee; }
    .social__item_type_li:hover {
      background-color: #0077B5; }
    .social__item_type_gp:hover {
      background-color: #dd4b39; }
    .social__item_type_be:hover {
      background-color: #131418; }
    .social__item_type_dr:hover {
      background-color: #ea4c89; }
