.btn
  display: flex
  justify-content: center
  align-items: center
  font: 500 16px/1 Asap
  color: $color4
  height: 50px
  min-width: 160px
  padding: 0 10px
  user-select: none
  cursor: pointer
  letter-spacing: 0.06em
  & + &
    margin-left: 20px

  &_type
    &_1
      background-color: $white
      box-shadow: 0px 5px 15px rgba($color4, 0.2)
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0px 10px 25px rgba($color4, 0.2)

    &_2
      border: 1px solid
      transition: background-color 0.3s
      &:hover
        background-color: rgba($color4, 0.1)

    &_3
      > *
        transition: transform .3s
      &:hover > *
        transform: translateY(2px)

    &_4
      > *
        transition: transform .3s
      &:hover > *
        transform: translateY(-2px)

  &_size
    &_small
      height: 40px
      width: 45px
      min-width: auto
    &_middle
      padding: 0 45px
    &_md
      min-width: 123px
      padding: 0 20px

  &_font
    &_1
      font-weight: 600
