.graph
  padding-left: 45px
  &__figure
    background-color: $color6
    width: 100%
    height: 370px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
  &__image
    background-image: url(/img/graph.png)
    background-repeat: no-repeat
    background-position: -33px 0
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 10
    box-shadow: 0 10px 30px -10px rgba($color7, 0.4)
  &__line
    height: 1px
    width: 100%
    color: $color2
    background-color: $color7
    position: relative
    &Text
      position: absolute
      left: -45px
      top: -7px
    &_shadow
      box-shadow: 0 0 10px $color7
  &__x
    padding-top: 15px
  &__logo
    height: 28px
    width: 28px
    &_pos
      &_1
        margin-left: 9%
      &_2
        margin-left: 20%
      &_3
        margin-left: 21%
      &_4
        margin-left: 18%


