.grid
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &_type
    &_1
      margin-left: -15px
      margin-right: -15px
      margin-top: 24px
  &__item
    width: 32%
    padding: 40px
    text-align: center
    &_type
      &_1
        padding: 15px
        width: 33.33%
      &_2
        width: 25%
        padding: 20px
        color: $color8
  &__content
    backface-visibility: hidden
  &__title
    font-weight: 500
    font-size: 24px
    line-height: 30px
    margin-top: 10px
    &_type_1
      font-size: 30px
      line-height: 32px
      margin-top: 25px
  &__img
    height: 75px
    display: flex
    align-items: center
    justify-content: center
    &_type
      &_1
        height: 100px
        align-items: flex-end
  &__bgImage
    display: block
    width: 100%
    height: 318px
    background-repeat: no-repeat
    background-size: cover
    transition: box-shadow .3s
    &:hover
      box-shadow: 0 0 40px 10px $color1
  &__text
    font-size: 22px
    text-transform: uppercase
    line-height: 32px
    margin-top: 3px
