.icon
  display: inline-block
  font: normal normal normal 14px/1 Icons
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &::before
    display: inline-block

  &_t // types of icons
    &_close::before
      content: "\e904"