.input
  width: 100%
  font: 500 16px/1 Asap
  height: 57px
  padding: 10px
  color: $color8
  letter-spacing: 0.05em
  &_type
    &_textarea
      height: 207px
      padding-top: 20px
      padding-bottom: 20px
      resize: none