.logo
  font-family: Lato
  text-transform: uppercase
  text-align: center
  color: $black
  &__img
    height: 24px
    width: 24px
    margin: 0 auto 10px
    transition: transform .3s
  &__title
    font-weight: 300
    font-size: 14px
    margin-bottom:  5px
    letter-spacing: 0.1em
  &__subtitle
    font-size: 4px
    letter-spacing: 0.2em

  &:hover &__img
    transform: scaleX(-1)