.menu
  color: $color2
  letter-spacing: 0.01em
  display: flex
  &__item
    text-transform: uppercase
    text-align: center
    margin-bottom: auto
    & + &
      margin-left: 37px
    &::after
      content: ''
      display: block
      margin: 7px auto 0
      height: 2px
      width: 100%
      background-color: $color3
      transform: scaleX(0)
      transform-origin: center
      transition: transform .3s
    &:hover, &_active
      &::after
        transform: scaleX(1)
    &_active
      text-transform: none
