.section
  position: relative
  &_type
    &_1
      padding-top: 30px
    &_2
      padding: 110px 0 120px
    &_3
      padding: 120px 0 75px
    &_4
      padding: 120px 0 117px
    &_5
      padding: 125px 0 120px
    &_6
      padding: 127px 0 125px
    &_7
      padding: 30px 0 38px
    &_8
      padding: 145px 0 0
      margin-top: 154px
      // background-color: $black
      background-image: url(/img/contactBg.png)
      background-size: cover
      background-repeat: no-repeat
  &_color
    &_1
      background-color: $color1
    &_2
      background-color: $color5
  &__responsive
    display: flex
    justify-content: space-between
  &__image
    width: 100%
    max-height: 100%
  &__column
    width: 570px
  &__content
    padding-top: 15px
    padding-bottom: 5px
  &__info
    margin-top: 162px
  &__info2
    margin-top: 67px
  &__buttons
    margin-top: 30px
    display: flex
  &__btnDown
    margin-top: 168px
  &__title
    margin-bottom: 15px
  &__graph
    margin-top: 53px
    margin-left: auto
    margin-right: auto
    max-width: 85%
  &__bottomBtn
    display: flex
    justify-content: center
    margin-top: 15px
  &__slider
    max-width: 82%
    margin-left: auto
    margin-right: auto
    margin-top: 53px
  &__bg
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba($black, .6)
  &__relative
    position: relative
    z-index: 5
  &__form
    max-width: 768px
    margin-left: auto
    margin-right: auto
    margin-top: 64px
    margin-bottom: 57px
  &__footer
    border-top: 1px solid $white
    padding: 26px 0 30px
  &__copyright
    font-family: Montserrat
    color: $white
    text-align: center
    line-height: 27px
    width: 20%
    letter-spacing: 0.05em
  &__col
    width: 33.33%
  &__btnTop
    position: absolute
    bottom: 193px
    right: -65px
    z-index: 10