.slider
  border: 1px solid $black
  padding: 80px 70px 100px 120px
  &__item
    display: flex
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 0.01em
  &__image
    height: 160px
    width: 160px
    margin-right: 30px
    flex-shrink: 0
  &__title
    font-size: 30px
  &__subtitle
    font-size: 12px
    font-style: italic
    margin-top: 3px
  &__text
    line-height: 26px
    margin-top: 13px
    color: rgba($color8, .4)

  &:not(.owl-carousel) &__item
    &:nth-of-type(1) ~ .slider__item
      display: none
  .owl-dots
    position: absolute
    bottom: 35px
    left: 0
    right: 0
    display: flex
    justify-content: center
  .owl-dot
    height: 13px
    width: 13px
    border: 1px solid $black !important
    transition: background-color .3s
    margin: 0 2px
    &.active
      background-color: $black