.social
  display: flex
  &__item
    height: 27px
    width: 27px
    line-height: 27px
    text-align: center
    font-size: 16px
    background-color: #fff
    transition: background-color .2s, color .2s
    &+&
      margin-left: 9px
    &:hover
      color: $white
    &_type
      &_fb:hover
        background-color: #3b5999
      &_tw:hover
        background-color: #55acee
      &_li:hover
        background-color: #0077B5
      &_gp:hover
        background-color: #dd4b39
      &_be:hover
        background-color: #131418
      &_dr:hover
        background-color: #ea4c89