.title
  font-size: 46px
  font-weight: bold
  line-height: 49px
  color: rgba($color4, 0.8)
  letter-spacing: 0.13em
  text-align: center
  &_size
    &_big
      letter-spacing: 0.02em
      font-size: 90px
      letter-spacing: 0
      line-height: 67px
      margin-left: -5px
      margin-bottom: 20px
      font-weight: 500
      color: $color4
    &_small
      font-size: 22px
      letter-spacing: 0
      line-height: 1
      color: rgba($color4, 0.541)

  &_line
    &::before
      content: ''
      display: block
      width: 60px
      height: 4px
      background-color: rgba($color4, 0.8)
      margin-bottom: 10px
      margin-left: auto
      margin-right: auto

  &_align
    &_left 
      text-align: left
      &::before
        margin-left: 0

  &_color
    &_1
      color: $color10
      &::before
        background-color: $color9
